.user-section {
    background: #E5E5E5;
}

.user {
    text-align: center;
    width: 100%;
    padding-bottom: 104px;

    p {
        margin: 0;
        padding-top: 104px;
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #000000;
        margin-bottom: 20px;
    }

    h3 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #000000;
        margin: 0;

    }

    h4 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #000000;
        margin: 0;
    }
}

.dots {
    margin-top: 30px;
    .dots-list {
        padding: 0;
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        width: 150px;
        margin: 0 auto;
    }

    .dots-item {
        width: 10px;
        height: 10px;
        border-radius:50%;
        text-align: center;
        background: #C4C4C4
    }
    .active{
        width: 20px ;
        height: 20px;
        border: 4px solid #FF7400;
        background-color: transparent;
    }
}
@media only screen and (max-width:420px){
    .user{
        p{
            padding-top: 0;
        }
    }
}